<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>ExampleOMI</display-name>

	<servlet>
		<servlet-name>HTTPRequestServlet</servlet-name>
		<servlet-class>com.aalto.hashing.servlets.HTTPRequestServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	
	<servlet>
		<servlet-name>RegisterNodeServlet</servlet-name>
		<servlet-class>com.aalto.hashing.servlets.RegisterNodeServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>

	<servlet>
		<servlet-name>DataCollectionServlet</servlet-name>
		<servlet-class>com.aalto.hashing.servlets.DataCollectionServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HTTPRequestServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>RegisterNodeServlet</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DataCollectionServlet</servlet-name>
		<url-pattern>/Collect</url-pattern>
	</servlet-mapping>

</web-app>
